<!-- Header con navegación y botones -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/landing-logueado">
        <img src="LogoIBIS.png" alt="Hotel Ibis" width="100">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" routerLink="/landing-logueado" >Habitaciones</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/servicios">Servicios</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/ubicacion-logueado">Ubicación</a></li>
          <li class="nav-item"><a class="nav-link active" routerLink="/faq-logueado" >Preguntas frecuentes</a></li>
        </ul>
        <div class="d-flex align-items-center">
          <a routerLink = "/historial-reservas"class="nav-link perfil-icon">
            <img src="iconoperfil.png" alt="Perfil" class="icono-perfil">
          </a>
        </div>
      </div>
    </div>
  </nav>

    <div class="profile-edit-container">
      <div class="profile-card">
        <div class="profile-header">
          <h1>Editar Perfil</h1>
          <div class="profile-avatar">
          </div>
        </div>
  
        <form class="profile-form" (ngSubmit)="onSubmit()" #profileForm="ngForm">
          <div class="form-grid">
            <div class="form-group">
                <label for="name">Nombre:</label>
                <div class="input-container">
                  <input 
                    type="text" 
                    [(ngModel)]="user.firstName" 
                    name="name" 
                    class="form-control"
                    required 
                    [disabled]="isNameDisabled">
                  <button type="button" class="edit-icon" (click)="toggleField('name')">
                    <i class="fas fa-edit"></i> <!-- Ícono de lápiz -->
                  </button>
                </div>
              </div>
              <div class="form-group">
                <label for="lastName">Apellido:</label>
                <div class="input-container">
                  <input 
                    type="text" 
                    [(ngModel)]="user.lastName" 
                    class="form-control"
                    name="lastName" 
                    required 
                    [disabled]="isLastNameDisabled">
                  <button type="button" class="edit-icon" (click)="toggleField('lastName')">
                    <i class="fas fa-edit"></i> <!-- Ícono de lápiz -->
                  </button>
                </div>
              </div>
              <div class="form-group">
                <label for="email">Correo Electrónico:</label>
                <input 
                  type="email" 
                  [(ngModel)]="user.email" 
                  class="form-control"
                  name="email" 
                  required 
                  [disabled]="isEmailDisabled">

                  <button type="button" class="edit-icon" (click)="toggleField('email')">
                    <i class="fas fa-edit"></i> <!-- Ícono de lápiz -->
                  </button>
              </div>
  
          </div>
  
          <div class="form-actions">
            
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
          </div>
        </form>
      </div>
    </div>
