<div class="container-fluid row recuperar-container">
    <!-- Columna izquierda con la imagen del hotel -->
    <div class="col-md-6 left-side d-none d-md-flex">
        <img src="https://ibis.hotels-in-trujillo.com/data/Images/OriginalPhoto/9885/988520/988520851/image-trujillo-ibis-77.JPEG" alt="Imagen Hotel Ibis" class="hotel-image">
    </div>

    <!-- Columna derecha con el formulario de recuperación de contraseña -->
    <div class="col-md-6 right-side">
        <!-- Header con el logo del hotel -->
        <div class="header text-center">
            <img src="LogoIBIS.png" alt="Hotel Ibis Logo" class="logo">
        </div>

        <!-- Formulario de recuperación -->
         <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="recuperar-form">
            <h2>Recuperar Contraseña</h2>
            <p>¡Te has olvidado tu contraseña!.</p>
            <div class="form-group">
                <label for="codigo">Introduce tu correo electrónico</label>
                <div class="codigo-inputs">
                    <input
                    placeholder="Correo Electrónico"
                    id="email" 
                    type="email"
                    formControlName="email">
                    <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">
                        <small class="text-danger">El correo es obligatorio y debe ser válido.</small>
                      </div>
                </div>
            </div>
            <button [disabled]="forgotPasswordForm.invalid" type="submit" class="enviar-btn">Enviar</button>
        </div>
    </form>
    <div *ngIf="loading">Un momento, estamos procesando tu solicitud...</div>
    <div *ngIf="message">{{ message }}</div>
    </div>
</div>
