<div class="login-container">
    <div class="left-side">
      <img src="https://cdn.discordapp.com/attachments/1168351427727470592/1291058653083992074/image.png?ex=67000911&is=66feb791&hm=6c42f0fe87406aa1d48723e79d49af53433307bf5675c8d322335fd580b35e21&" alt="Hotel Ibis" class="establishment-image">
    </div>
  
    <div class="right-side">
      <div class="header">
        <img src="https://cdn.discordapp.com/attachments/1168351427727470592/1291059035314847744/image.png?ex=6700096c&is=66feb7ec&hm=69e35a0e1bc6526cfda1faf222c9ecb3e1aa4ebe83e201a2ccfc8d5760ab3ab9&" alt="Hotel Ibis Logo" class="logo">
      </div>
      
      <form class="login-form">
        <h2>Registrarse</h2>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" placeholder="Ingresa tu nombre">
        </div>
  
        <div class="form-group">
          <label for="apellido">Apellido</label>
          <input type="text" id="apellido" placeholder="Ingresa tu apellido">
        </div>
  
        <div class="form-group">
          <label for="tipoDocumento">Documento de Identidad</label>
          <div class="document-type">
            <input type="radio" id="dni" name="tipoDocumento" value="DNI">
            <label for="dni">DNI</label>
            <input type="radio" id="ce" name="tipoDocumento" value="Carnet de Extranjería">
            <label for="ce">Carnet de Extranjería</label>
            <input type="radio" id="otro" name="tipoDocumento" value="Otro">
            <label for="otro">Otro</label>
          </div>
        </div>
  
        <div class="form-group">
          <label for="numeroDocumento">Número de Documento</label>
          <input type="text" id="numeroDocumento" placeholder="Ingresa el número de documento">
        </div>
  
        <div class="form-group">
            <label for="fecha-nacimiento">Fec. de Nacimiento</label>
            <input type="date" id="fecha-nacimiento" placeholder="dd/mm/aaaa">
          </div>
          
  
        <div class="form-group">
          <label for="correo">Correo electrónico</label>
          <input type="email" id="correo" placeholder="Ingresa tu correo">
        </div>
  
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input type="password" id="password" placeholder="Ingresa tu contraseña">
        </div>
  
        <div class="form-group">
          <label for="confirmPassword">Confirmar Contraseña</label>
          <input type="password" id="confirmPassword" placeholder="Confirmar contraseña">
        </div>
  
        <button type="submit" class="login-btn">Registrarse</button>a
      </form>
  
      <p class="register-text">¿Ya tienes una cuenta? <a routerLink = "/iniciarSesion">Iniciar sesión</a></p>
    </div>
  </div>
  