  <header class="header">
    <div class="logo-container">
      <img src="LogoIBIS.png" alt="Logo Hotel Ibis" class="logo">
      <span class="company-name">HOTEL IBIS</span>
    </div>
  </header>

  <main class="main-container">
    <nav class="sidebar">
      <ul>
        <a routerLink="/listar-personal"><li>Personal</li></a>
        <a routerLink="/lista-habitaciones"><li class="active">Habitaciones</li></a>
        <a (click)="logout()" >
          <li>Cerrar Sesion</li>
        </a>
      </ul>
    </nav>

    <section class="content">
      <h1>LISTA DE HABITACIONES</h1>
      <h2>Habitaciones</h2>

      <table class="habitaciones-table">
        <thead>
          <tr>
            <th>Habitación</th>
            <th>Personas</th>
            <th>Sede</th>
            <th>Cantidad Total</th>
            <th>Cantidad Reservada</th>
            <th>Costo</th>
            
          </tr>
        </thead>
        <tbody *ngFor="let habitacion of habitaciones">
          <tr>
            <td>{{habitacion.categoria}}</td>
            <td>{{habitacion.capacidad}} personas</td>
            <td>Trujillo</td>
            <td>{{habitacion.cantidadTotal}}</td>
            <td>{{habitacion.cantidadReservada}}</td>
            <td>S/. {{habitacion.precio}}</td>
            
          </tr>
          
        </tbody>
      </table>
    </section>
  </main>
  <footer class="footer">
    2024 © Hotel Ibis - Trujillo, Grupo 5 | Todos los derechos reservados
  </footer>
  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <p>¿Seguro que quiere eliminar la habitación seleccionada?</p>
      <div class="modal-buttons">
        <button class="modal-cancel-button" (click)="cerrarModal()">Cancelar</button>
        <button class="modal-accept-button" (click)="aceptarModal()">Aceptar</button>
      </div>
    </div>
  </div>

