  <header class="header">
    <div class="logo-container">
      <img src="LogoIBIS.png" alt="Logo Hotel Ibis" class="logo">
      <span class="company-name">HOTEL IBIS</span>
    </div>
  </header>

  <main class="main-container">
    <nav class="sidebar">
      <ul>
        <a routerLink="/landing-logueado"><li>Principal</li></a>
        <a routerLink="/listar-personal"><li>Personal</li></a>
        <a routerLink="/lista-habitaciones"><li class="active">Habitaciones</li></a>
      </ul>
    </nav>

    <section class="content">
      <h1>LISTA DE HABITACIONES</h1>
      <h2>Habitaciones</h2>

      <table class="habitaciones-table">
        <thead>
          <tr>
            <th>Habitación</th>
            <th>Personas</th>
            <th>Sede</th>
            <th>Costo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Estándar con 1 cama</td>
            <td>2 personas</td>
            <td>Lima</td>
            <td>s/. 120.00</td>
            <td>
              
              <button class="action-button edit-button">
                <a routerLink="/editar-habitacion"><img src="lapiz.png" alt="Editar" class="icon"></a>
              </button>
              <button class="action-button delete-button" (click)="abrirModal()">
                <img src="basura.png" alt="Eliminar" class="icon">
              </button>
            </td>
          </tr>
          <tr>
            <td>Estándar con 2 camas</td>
            <td>2 personas</td>
            <td>Trujillo</td>
            <td>s/. 170.00</td>
            <td>
              <button class="action-button edit-button">
                <a routerLink="/editar-habitacion"><img src="lapiz.png" alt="Editar" class="icon"></a>
              </button>
              <button class="action-button delete-button" (click)="abrirModal()">
                <img src="basura.png" alt="Eliminar" class="icon">
              </button>
            </td>
          </tr>
          <tr>
            <td>Habitación deluxe</td>
            <td>4 personas</td>
            <td>Lima</td>
            <td>s/. 250.00</td>
            <td>
              <button class="action-button edit-button">
                <a routerLink="/editar-habitacion"><img src="lapiz.png" alt="Editar" class="icon"></a>
              </button>
              <button class="action-button delete-button" (click)="abrirModal()">
                <img src="basura.png" alt="Eliminar" class="icon">
              </button>
            </td>
          </tr>
          <tr>
            <td>Habitación deluxe con 2 camas dobles</td>
            <td>4 personas</td>
            <td>Lima</td>
            <td>s/. 200.00</td>
            <td>
              <button class="action-button edit-button">
                <a routerLink="/editar-habitacion"><img src="lapiz.png" alt="Editar" class="icon"></a>
              </button>
              <button class="action-button delete-button" (click)="abrirModal()">
                <img src="basura.png" alt="Eliminar" class="icon">
              </button>
            </td>
          </tr>
          <tr>
            <td>Estándar con cama doble</td>
            <td>2 personas</td>
            <td>Lima</td>
            <td>s/. 180.00</td>
            <td>
              <button class="action-button edit-button">
                <a routerLink="/editar-habitacion"><img src="lapiz.png" alt="Editar" class="icon"></a>
              </button>
              <button class="action-button delete-button" (click)="abrirModal()">
                <img src="basura.png" alt="Eliminar" class="icon">
              </button>
            </td>
          </tr>
          <tr>
            <td>Habitación Premium con 1 cama king</td>
            <td>2 personas</td>
            <td>Trujillo</td>
            <td>s/. 300.00</td>
            <td>
              <button class="action-button edit-button">
                <a routerLink="/editar-habitacion"><img src="lapiz.png" alt="Editar" class="icon"></a>
              </button>
              <button class="action-button delete-button" (click)="abrirModal()">
                <img src="basura.png" alt="Eliminar" class="icon">
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="add-button" ><a routerLink="/agregar-habitacion">Agregar Habitación</a></button>
    </section>
  </main>
  <footer class="footer">
    2024 © Hotel Ibis - Trujillo, Grupo 5 | Todos los derechos reservados
  </footer>
  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <p>¿Seguro que quiere eliminar la habitación seleccionada?</p>
      <div class="modal-buttons">
        <button class="modal-cancel-button" (click)="cerrarModal()">Cancelar</button>
        <button class="modal-accept-button" (click)="aceptarModal()">Aceptar</button>
      </div>
    </div>
  </div>

