  <header class="header">
    <div class="logo-container">
      <img src="LogoIBIS.png" alt="Logo Hotel Ibis" class="logo">
      <span class="company-name">HOTEL IBIS</span>
    </div>
  </header>

  <main class="main-container">
    <nav class="sidebar">
      <ul>
        <a routerLink="/landing-logueado"><li>Principal</li></a>
        <a routerLink="/listar-personal"><li>Personal</li></a>
        <a routerLink="/lista-habitaciones"><li class="active">Habitaciones</li></a>
      </ul>
    </nav>

    <section class="content">
      <h1>EDITAR HABITACIÓN</h1>
      <p class="breadcrumb">Habitaciones > Editar</p>

      <div class="form-container">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" class="input-field">
        </div>
        <div class="form-group">
          <label for="personas">Personas</label>
          <input type="text" id="personas" class="input-field">
        </div>
        <div class="form-group">
          <label for="sede">Sede</label>
          <input type="text" id="sede" class="input-field">
        </div>
        <div class="form-group">
          <label for="costo">Costo</label>
          <input type="text" id="costo" class="input-field">
        </div>
      </div>

      <div class="button-group">
        <button class="save-button" (click)="abrirModal()">Guardar Cambios</button>
      </div>
    </section>
  </main>

  <footer class="footer">
    2024 © Hotel Ibis - Trujillo, Grupo 5 | Todos los derechos reservados
  </footer>
  <!--modal del sexo-->
  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <p>Habitación editada correctamente</p>
      <img src="bien.webp" alt="">
      <div class="modal-buttons">
        <button class="modal-cancel-button" (click)="cerrarModal()">Aceptar</button>
      </div>
    </div>
  </div>