  <header class="header">
    <div class="logo-container">
      <img src="LogoIBIS.png" alt="Logo Hotel Ibis" class="logo">
      <span class="company-name">HOTEL IBIS</span>
    </div>
  </header>

  <main class="main-container">
    <nav class="sidebar">
      <ul>
 
        <li class="active">Personal</li>
        <a routerLink="/lista-habitaciones"><li>Habitaciones</li></a>
        <a (click)="logout()" >
          <li>Cerrar Sesion</li>
        </a>
      </ul>
    </nav>

    <section class="content">
      <h1>Lista del Personal</h1>
      <h2>Personal</h2>
      <div *ngIf="empleados.length === 0">
        <p>No hay empleados disponibles.</p>
      </div>

    
        <table class="personal-table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Correo</th>
              <th>Acciones</th>
            </tr>
          </thead>
       
          <tbody *ngFor="let empleado of empleados" class="personal-table">
            <tr>
              <td>{{empleado.firstName}}</td>
              <td>{{empleado.lastName}}</td>
              <td>{{empleado.email}}</td>
              <td>
                <button class="action-button edit-button">
                  <a routerLink="/editar-datos-personal"><img src="lapiz.png" alt="Editar" class="icon"></a>
                </button>
                <button class="action-button delete-button" (click)="deleteUser(empleado.id!)">
                  <img src="basura.png" alt="Eliminar" class="icon">
                </button>
              </td>
            </tr>
          </tbody>
       
        </table>

    
      

      <button class="add-button"><a routerLink="/registrar-personal">Agregar</a></button>
    </section>
  </main>

  <footer class="footer">
    2024 © Hotel Ibis - Trujillo, Grupo 5 | Todos los derechos reservados
  </footer>

  <!-- Modal -->
  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <p>¿Seguro que quiere deshabilitar al empleado: {{ empleadoSeleccionado }}?</p>
      <div class="modal-buttons">
        <button class="modal-cancel-button" (click)="cerrarModal()">Cancelar</button>
        <button class="modal-accept-button" (click)="aceptarModal()">Aceptar</button>
      </div>
    </div>
  </div>
