<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="LogoIBIS.png" alt="Hotel Ibis" width="100" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/habitaciones">Habitaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ubicacion">Ubicación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Preguntas frecuentes</a>
        </li>
      </ul>
      <div class="d-flex">
        <button class="btn btn-danger me-3">Iniciar sesión</button>
        <button class="btn btn-danger">Registrarse</button>
      </div>
    </div>
  </div>
</nav>

<section class="container-fluid mt-5">
  <div id="habitacionesCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <!-- Primera Slide -->
      <div class="carousel-item active">
        <div class="row g-4 justify-content-center">
          <div class="col-md-4">
            <div class="tarjeta shadow-lg rounded-lg p-3">
              <img src="https://www.ahstatic.com/photos/a8f4_rodbc_00_p_2048x1536.jpg" alt="Habitación estandar con 1 cama doble" class="img-fluid rounded-top">
              <div class="card-info">
                <h2>Habitación estándar con 1 cama doble</h2>
                <p class="capacity">2 pers. máx • 17 m² / 182 sq ft</p>
                <p class="bed-info">1 x Cama/s individuales/s</p>
                <p class="price">Desde <strong>S/. 120.00</strong></p>
                <p class="taxes">Gastos e impuestos incluidos</p>
                <button class="btn btn-primary btn-reservar w-100">Reservar</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="tarjeta shadow-lg rounded-lg p-3">
              <img src="https://www.ahstatic.com/photos/a8f4_rotwc_00_p_2048x1536.jpg" alt="Habitación estandar con 1 cama doble" class="img-fluid rounded-top">
              <div class="card-info">
                <h2>Habitación estándar con 2 camas simples</h2>
                <p class="capacity">2 pers. máx • 17 m² / 182 sq ft</p>
                <p class="bed-info">1 x Cama/s doble/s</p>
                <p class="price">Desde <strong>S/. 170.00</strong></p>
                <p class="taxes">Gastos e impuestos incluidos</p>
                <button class="btn btn-primary btn-reservar w-100">Reservar</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="tarjeta shadow-lg rounded-lg p-3">
              <img src="https://ibis.hotels-in-trujillo.com/data/Images/OriginalPhoto/11924/1192414/1192414624/image-trujillo-ibis-76.JPEG" alt="Habitación estandar con 2 camas dobles" class="img-fluid rounded-top">
              <div class="card-info">
                <h2>Habitación deluxe con 1 cama doble</h2>
                <p class="capacity">4 pers. máx • 27 m² / 182 sq ft</p>
                <p class="bed-info">2 x Cama/s doble/s</p>
                <p class="price">Desde <strong>S/. 250.00</strong></p>
                <p class="taxes">Gastos e impuestos incluidos</p>
                <button class="btn btn-primary btn-reservar w-100">Reservar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Segunda Slide -->
      <div class="carousel-item">
        <div class="row g-4 justify-content-center">
          <div class="col-md-4">
            <div class="tarjeta shadow-lg rounded-lg p-3">
              <img src="https://images.trvl-media.com/lodging/5000000/4300000/4290600/4290506/977fbf1f.jpg?impolicy=resizecrop&rw=1200&ra=fit" alt="Habitación estándar con 1 cama doble" class="img-fluid rounded-top">
              <div class="card-info">
                <h2>Habitación Deluxe con 1 cama doble</h2>
                <p class="capacity">2 pers. máx • 20 m² / 215 sq ft</p>
                <p class="bed-info">1 x Cama/s dobles/s</p>
                <p class="price">Desde <strong>S/. 200.00</strong></p>
                <p class="taxes">Gastos e impuestos incluidos</p>
                <button class="btn btn-primary btn-reservar w-100">Reservar</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="tarjeta shadow-lg rounded-lg p-3 tarjeta-no-disponible"> <!-- Clase adicional para indicar que no está disponible -->
              <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/380260919.jpg?k=870afc070b8657dcbb01066b633665fa3be38bb8a4ee6e289914447b30141c01&o=&hp=1" alt="Habitación no disponible" class="img-fluid rounded-top">
              <div class="card-info">
                <h2>Habitación estándar con 1 cama doble</h2>
                <p class="capacity">4 pers. máx • 26 m² / 182 sq ft</p>
                <p class="bed-info">2 x Cama/s dobles/s</p>
                <p class="price">Desde <strong>S/. 180.00</strong></p>
                <p class="taxes">Gastos e impuestos incluidos</p>
                <button class="btn btn-secondary btn-reservar w-100" disabled>Reservar</button> <!-- Botón deshabilitado -->
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="tarjeta shadow-lg rounded-lg p-3">
              <img src="https://www.ahstatic.com/photos/a8f4_rodbc_00_p_2048x1536.jpg" alt="Habitación Premium con 1 cama king" class="img-fluid rounded-top">
              <div class="card-info">
                <h2>Habitación Premium con 1 cama king</h2>
                <p class="capacity">2 pers. máx • 30 m² / 323 sq ft</p>
                <p class="bed-info">1 x Cama king</p>
                <p class="price">Desde <strong>S/. 300.00</strong></p>
                <p class="taxes">Gastos e impuestos incluidos</p>
                <button class="btn btn-primary btn-reservar w-100">Reservar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Flechas de navegación -->
    <button class="carousel-control-prev custom-prev" type="button" data-bs-target="#habitacionesCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next custom-next" type="button" data-bs-target="#habitacionesCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
</section>

<!-- Footer -->
<footer class="bg-light text-center py-3 mt-5">
  <div class="container">
    <p class="mb-0">2024 © Hotel Ibis - Trujillo_Grup05 ┆ Todos los derechos reservados</p>
  </div>
</footer>
