  <header class="header">
    <div class="logo-container">
      <img src="LogoIBIS.png" alt="Logo Hotel Ibis" class="logo">
      <span class="company-name">HOTEL IBIS</span>
    </div>
  </header>

  <main class="main-container">
    <nav class="sidebar">
      <ul>
        <a routerLink="/listar-personal"><li class="active">Personal</li></a>
        <a routerLink="/lista-habitaciones"><li>Habitaciones</li></a>
        <a (click)="logout()" >
          <li>Cerrar Sesion</li>
        </a>
      </ul>
    </nav>

    <section class="content">
      <h1>REGISTRAR NUEVO PERSONAL</h1>
      <p class="breadcrumb">Personal > Registrar</p>
      <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm" autocomplete="off">

        <div class="form-container">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input 
              class="input-field" 
              type="text"
              id="firstName"
              name="firstName"
              ngModel
              required
              #firstName="ngModel"
              [ngClass]="{ 'is-invalid': firstName.invalid && firstName.touched }"
              placeholder="Nombre">
              <div *ngIf="firstName.invalid && firstName.touched" class="invalid-feedback">
                El nombre es requerido.
              </div>
          </div>
          <div class="form-group">
            <label for="apellido">Apellido</label>
            <input 
              class="input-field" 
              type="text"
              id="lastName"
              name="lastName"
              ngModel
              required
              #lastName="ngModel"
              [ngClass]="{ 'is-invalid': lastName.invalid && lastName.touched }"
              placeholder="Apellido">
              <div *ngIf="firstName.invalid && firstName.touched" class="invalid-feedback">
                El apellido es requerido.
              </div>
          </div>
          <div class="form-group">
            <label for="contrasena">Contraseña</label>
            <input
                class="input-field"
                type="password"
                id="password"
                name="password"
                ngModel
                required
                minlength="6"
                #password="ngModel"
                [ngClass]="{ 'is-invalid': password.invalid && password.touched }"
                placeholder="Contraseña"
              >
              <div>
                <div *ngIf="password.errors?.['required'] && password.touched" class="error-message">
                  La contraseña es obligatoria.
                </div>
                <div *ngIf="password.errors?.['minlength'] && password.touched" class="error-message">
                  La contraseña debe tener al menos 6 caracteres.
                </div>
              </div>
          </div>
          <div class="form-group">
            <label for="contrasena">Email</label>
            <input 
              class="input-field" 
              type="email"
              id="email"
              name="email"
              ngModel
              required
              email
              #email="ngModel"
              [ngClass]="{ 'is-invalid': email.invalid && email.touched }"
              placeholder="Correo electronico">
              <div *ngIf="email.invalid && email.touched" class="invalid-feedback">
                Email es requerido y debe ser válido.
              </div>
          </div>
          
          
        </div>
  
        <div class="button-group">
          <button class="save-button" type="submit" [disabled]="registerForm.invalid">Guardar</button>
        </div>
      </form>
      
    </section>
  </main>

  <footer class="footer">
    2024 © Hotel Ibis - Trujillo, Grupo 5 | Todos los derechos reservados
  </footer>
  
<!--modal del sexo-->
  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <p>Se registró correctamente los datos</p>
      <img src="confir.jpeg" alt="">
      <div class="modal-buttons">
        <button class="modal-cancel-button" (click)="cerrarModal()">Aceptar</button>
      </div>
    </div>
  </div>