<div class="checkin-container">
  <!-- Barra lateral -->
  <div class="sidebar">
    <img src="BLACK_IBIS.png" alt="Hotel Ibis Logo" class="logo" />
    <nav>
      <ul>
        <a routerLink="/recepcionista"><li>Perfil</li></a>
        <a routerLink="/pendientes"><li>Pendientes</li></a>
        <a routerLink="/check-in"><li>Check in</li></a>
        <a routerLink="/check-out"><li>Check out</li></a>
        <a (click)="logout()"><li>Cerrar Sesion</li></a>
      </ul>
    </nav>
  </div>

  <!-- Contenido principal -->
  <div class="main-content">
    <div class="header">
      <div class="header-content">
        <img
          src="Cuarto.png"
          alt="Icono de Lista de Servicios"
          class="header-icon"
        />
        <div class="header-text">
          <h2>LISTA DE SERVICIOS</h2>
          <p>Habitaciones > Check-in</p>
        </div>
      </div>
      <hr class="header-line" />
    </div>

    <div class="custom-table">
      <div *ngIf="reservasPendientes.length === 0">
        <p>No hay check-in pendientes</p>

      </div>
      <table class="table"  >
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Habitación</th>
            <th>Fecha de Inicio</th>
            <th>Fecha Fin</th>
            <th>Fecha Check-in</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody *ngFor="let cliente of reservasPendientes">
          <tr >
            <td>{{ cliente.nombreCliente }}</td>
            <td>
              <span *ngIf="habitacionesMap[cliente.habitacionId]">
                {{ habitacionesMap[cliente.habitacionId]?.categoria }}
              </span>
              <span *ngIf="!habitacionesMap[cliente.habitacionId]">Cargando...</span>
            </td>
            <td>{{ cliente.fechaInicio }}</td>
            <td>{{ cliente.fechaFin }}</td>
            <td>{{ cliente.fechaCheckIn }}</td>
            <td>
              <a href="">
                <img
                  src="x.webp"
                  alt="Check"
                  class="action-icon"
                  (click)="registrarCheckOut(cliente.id)"
                />
              </a>
            </td>
          </tr>
          
        </tbody>

       
      </table>
    </div>
  </div>

  <!-- Modal para Check-in -->
  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <p>¡Check in registrado para {{ clienteSeleccionado }}!</p>
      <button class="close-check" (click)="closeModal()">Cerrar</button>
    </div>
  </div>

  <!-- Modal para Editar -->
  
</div>
